{% extends "index.html" %}
{% block find %} {% include 'main/find.html' %} {% endblock find %}
{% block category %} {% include 'main/catigories.html' %} {% endblock category %}

{% block content %}
<link rel="stylesheet" href="/static/css/ad_card_styles.css">
<div class = "container-fluid p-1 bg-light text-red text-center">
    <div class="row my-2">
        <div class="col-2 rounded">
        </div>

        <div class="col rounded">
            <div>{{ad.name}}</div>
            <div>
                <button class = 'button_arrow' id="prevBtn">
                    <img src = "/static/images/arrow_left.svg" width="20" height="20">️
                </button>
                <img class = 'img_ad' id="photo" src="" width="340" height="300" alt="{{ad.name}}" onclick="displayModal(this);">
                <button class = 'button_arrow' id="nextBtn">
                    <img src = "/static/images/arrow_right.svg" width="20" height="20">️
                </button>
            </div>
            <div>{{ad.decription}}</div>
            <p class="fw-bold fs-6">{{ad.price}}</p>
        </div>

        <div id="modal" class="modal" onclick="hideModal();">
            <span class="close">&times;</span>
            <div class="modal-content">
                <img id="modal-image" width="440" height="400">
            </div>
        </div>

        <div class="col-3 rounded">
            <div class = "float-start">
                <div class="row">
                    <div class="ad_card_text1">
                        {{ad.author_id.name}}
                        {{ad.author_id.second_name}}
                        {{ad.author_id.surname}}
                    </div>
                </div>
                <div class="row ad_card_text2">
                    Телефон: {{ad.author_id.phone}}
                </div>
            </div>
        </div>

        <div class="col-2 rounded">
        </div>

    </div>
</div>
 <script>
    const photos = [
        {% for photo in pictures %}
            "/static/ads_images/{{ photo.file_name }}"{% if not forloop.last %},{% endif %}
        {% endfor %}
    ];
</script>
<script src="/static/js/ad_card.js"></script>
{% endblock content %}